<!DOCTYPE html>
<html lang="en">
  <head>
  <base href="/"></base>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="spa/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="spa/assets/css/header.css">
  <link rel="stylesheet" type="text/css" href="spa/assets/css/sidenav.css">
  <link rel="stylesheet" type="text/css" href="spa/assets/css/mainContainer.css">
  <link rel="stylesheet" type="text/css" href="spa/assets/css/studentList.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="spa/assets/js/bootstrap.min.js"></script>

  <title>{{ title }}</title>
</head>

<body>
  <div ui-view></div>

  <!-- build:js -->
  <script src="jspm_packages/system.js"></script>
  <script src="config.js"></script>
  <script>
    System.import('spa/app.js')
    .catch(console.error.bind(console));
  </script>
  <!-- endbuild:js -->
</body>

</html>
