.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
  background-color: rgba(0,0,0,.1);
  margin-bottom: 5px;
}

.header__title {
  font-size: 1.5em;
}

.header__focus {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
}

.header__focus span {

}

.header__logout {
  display: flex;
  justify-content: flex-end;
}
