.main-container__actionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px 20px;
}

.form-group {
  font-family: Sans-serif, Serif, Times;
  color: #757575;
  letter-spacing: 0.025em;
  font-size: 11px;
  font-weight: 340;
}

.form-control {
  font-family: Sans-serif, Serif, Times;
  color: #1c1d2f;
  letter-spacing: 0.025em;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.navbar-form {
  margin-right: 28px;
}

.btn {
  font-family: Sans-serif, Serif, Times;
  letter-spacing: 0.025em;
  font-size: 14px;
  font-weight: 300;
}
