.sidebarNav {
  background-color: rgba(0,0,0,.1);
  padding-left: 25px;
  padding-top: 15px;
}

.sidebarNav__icon {
  margin-right: 10px;
}

.sidebarNav__class--toggle {
  padding-right: 77px;
}

.sidebarNav__icon--closed, .sidebarNav__icon--open {
  margin-left: 80px;
}
