.table.table-bordered {
  border: 0;
  margin-top: 0;
  margin-left: 40px;
  width: 90%;
}

tr th {
  font-family: Sans-serif, Serif, Times;
  color: #1c1d2f;
  letter-spacing: 0.025em;
  font-size: 16px;
  font-weight: 400;
  background-color: #33b74f;
  text-align: center;
}

table {
  margin-top: 20px;
}

tbody tr {
  text-align: center;
}

.table > tbody > tr > td {
  line-height: 32px;
}
