<header ng-class="{{ ctrl.gradeSchool }}">
  <div class="row header">
    <div class="col-md-4 header__title">
        <span>School Management System</span>
    </div>
    <div class="col-md-4 header__focus">
      <span>{{ ctrl.gradeSchool }} Students</span>
    </div>
    <div class="col-md-4 header__logout">
      <form class="form-inline">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
        </button>
      </form>
    </div>
  </div>
</header>

<main>
  <div class="row main-body">
    <aside class="col-md-2 sidebarNav">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class="glyphicon glyphicon-inbox sidebarNav__icon" aria-hidden="true"></span> Home
              </a>
            </h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="glyphicon glyphicon-user sidebarNav__icon" aria-hidden="true"></span> Student
              </a>
            </h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a ng-click="ctrl.open($event)" class="collapsed sidebarNav__class--toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span class="glyphicon glyphicon-blackboard sidebarNav__icon" aria-hidden="true"></span> Class
              <span ng-show="ctrl.closed"
                    class="glyphicon glyphicon-menu-right sidebarNav__icon--closed" aria-hidden="true"></span>
              <span ng-show="!ctrl.closed"
                    class="glyphicon glyphicon-menu-down sidebarNav__icon--open" aria-hidden="true"></span>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="list-group">
                <a href="#" ng-click="ctrl.changeGradeSchool($event)" class="list-group-item active">K-8</a>
                <a href="#" ng-click="ctrl.changeGradeSchool($event)" class="list-group-item">High School</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <section class="col-md-10 main-container">
      <div class="main-container__actionBar">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addStudent">Add student</button>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" ng-model="ctrl.searchText" class="form-control" placeholder="Search...">
          </div>
          <button ng-click="ctrl.searchStudent()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form>
      </div>

      <class-list students=ctrl.students grade-school="{{ ctrl.gradeSchool }}"></class-list>
    </section>

    <!-- Add Student Modal -->
    <div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="addStudentLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Student</h4>
          </div>
          <form name="addStudentForm" class="form-horizontal" ng-submit="ctrl.submitForm(ctrl.form, $event)" >
            <div class="form-group">
              <label for="gradeLevel" class="col-sm-2 control-label">Grade level</label>
              <div class="col-sm-10">
                <input ng-model="ctrl.form.gradeLevel" type="text" class="form-control" id="gradeLevel" placeholder="Grade level" required>
              </div>
            </div>
            <div class="form-group">
              <label for="firstName" class="col-sm-2 control-label">First name</label>
              <div class="col-sm-10">
                <input ng-model="ctrl.form.firstName" type="text" class="form-control" id="firstName" placeholder="First name" required>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName" class="col-sm-2 control-label">Last name</label>
              <div class="col-sm-10">
                <input ng-model="ctrl.form.lastName" type="text" class="form-control" id="lastName" placeholder="Last name" required>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input ng-model="ctrl.form.email" type="Email" class="form-control" id="email" placeholder="Email" required>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
