<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>GRADE LAVEL</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>EMAIL</th>
      <th class="actions">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr class="active" ng-repeat="student in $ctrl.students track by student.id">
      <td class="data">{{ student.id }}</td>
      <td>{{ student.gradeLevel }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td class="actions">
        <button ng-click="$ctrl.clickEdit(student)" type="button" class="btn btn-info" data-toggle="modal" data-target="#editStudent"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</button>
        <button ng-click="$ctrl.clickRemove(student)" type="button" class="btn btn-info" data-toggle="modal" data-target="#removeStudent"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
      </td>
  </tbody>
</table>

<!-- Edit Student Modal -->
  <div class="modal fade modal__edit" id="editStudent" tabindex="-1" role="dialog" aria-labelledby="editStudentLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Student</h4>
        </div>
        <form name="editStudentForm" class="form-horizontal" ng-submit="$ctrl.editStudent($ctrl.editForm, $event)">
          <div class="form-group">
            <label for="gradeLevel" class="col-sm-2 control-label">Grade level</label>
            <div class="col-sm-10">
              <input ng-model="$ctrl.editForm.gradeLevel" type="text" class="form-control" id="gradeLevel" placeholder="Grade level" required>
            </div>
          </div>
          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-10">
              <input ng-model="$ctrl.editForm.firstName" type="text" class="form-control" id="firstName" placeholder="First name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-10">
              <input ng-model="$ctrl.editForm.lastName" type="text" class="form-control" id="lastName" placeholder="Last name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input ng-model="$ctrl.editForm.email" type="Email" class="form-control" id="email" placeholder="Email" required>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-warning">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- Remove Student Modal -->
  <div class="modal fade modal__remove" id="removeStudent" tabindex="-1" role="dialog" aria-labelledby="removeStudentLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Remove Student</h4>
        </div>
        <form name="addStudentForm" class="form-horizontal" ng-submit="$ctrl.deleleStudent($ctrl.deleteForm, $event)">
          <div class="form-group">
            <label for="gradeLevel" class="col-sm-2 control-label">Grade level</label>
            <div class="col-sm-10">
              <input onfocus="this.blur()" ng-model="$ctrl.deleteForm.gradeLevel" type="text" class="form-control" id="gradeLevel" placeholder="Grade level" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-10">
              <input onfocus="this.blur()" ng-model="$ctrl.deleteForm.firstName" type="text" class="form-control" id="firstName" placeholder="First name" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-10">
              <input onfocus="this.blur()" ng-model="$ctrl.deleteForm.lastName" type="text" class="form-control" id="lastName" placeholder="Last name" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input onfocus="this.blur()" ng-model="$ctrl.deleteForm.email" type="Email" class="form-control" id="email" placeholder="Email" readonly>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Remove student</button>
          </div>
        </form>
      </div>
    </div>
  </div>
